[flake8]
ignore =
    E203, # Whitespace before ':'
    E402, # Import not at top of file
    E501, # Line too long
    W503, # Line break before binary operator
    B006, # Mutable data structures in argument defaults
    D107, # Missing docstring in init
    ANN, # flake8-annotations
    E265, # block comment should start with '# '
    E262, # block comment should start with '# '
    BLK, # BLACK
    I, # Imports
select =
    C, # McCabe complexity
    E, # pep8 errors
    F, # pyflakes
    W, # pep8 warnings
    B,  # Bugbear plugin
    B950,
    D,  # pydocstyle plugin
per-file-ignores =
    # Don't ask for docstring in test files
    test_*.py: D103
    tests/*:S101,ANN
    noxfile.py:ANN
    waterfall_optimizer/reports/notebooks/*.py: F821
application-import-names = waterfall_optimizer,tests
import-order-style = google
max-line-length = 88
